# Constructor

In [1]:
import pandas as pd

Create DF without indexes

In [8]:
df = pd.DataFrame({
    'country': ['France', 'USA', 'Poland'],
    'capital': ['Paris', 'Washington', 'Warsaw'],
    'population': [66.99, 328.2, 32.17]
})
df

  country     capital  population
0  France       Paris       66.99
1     USA  Washington      328.20
2  Poland      Warsaw       32.17

Create DF with indexes

In [9]:
df2 = pd.DataFrame({
    'country': ['France', 'USA', 'Poland'],
    'capital': ['Paris', 'Washington', 'Warsaw'],
    'population': [66.99, 328.2, 32.17]
}, index = ['FR', 'US', 'PL'])
df2

   country     capital  population
FR  France       Paris       66.99
US     USA  Washington      328.20
PL  Poland      Warsaw       32.17

Add indexes for existing DF

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.index = ['FR', 'US', 'PL']

In [13]:
df.index

Index(['FR', 'US', 'PL'], dtype='object')

In [14]:
df

   country     capital  population
FR  France       Paris       66.99
US     USA  Washington      328.20
PL  Poland      Warsaw       32.17

#### Get values from DF

Agruments order: **column / row**

In [15]:
df['capital']['PL']

'Warsaw'

In [17]:
df.capital.US

'Washington'

In [19]:
df.capital[0]

'Paris'

Agruments order: **row / column**

In [22]:
df.at['PL', 'capital']

'Warsaw'

In [23]:
df.iat[1, 1]

'Washington'

In [24]:
df.loc['US']

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [25]:
df.loc['US', 'capital']

'Washington'

In [26]:
df.iloc[1, 1]

'Washington'

Get list of columns

In [27]:
df.columns

Index(['country', 'capital', 'population'], dtype='object')

# Data read

#### Read from TXT file

In [32]:
txt_df = pd.read_csv('test_data.txt', names=['id', 'city', 'population'])
txt_df

   id     city  population
0   1   Warsaw        1.86
1   2   Cracow        0.80
2   3  Wroclaw        0.67

In [37]:
cities_df = pd.read_csv('city.csv',
                     sep = ';',
                     names = ['ID', 'City', 'Code', 'District', 'Population'],
                     header = 0)
cities_df

        ID            City Code       District  Population
0        1           Kabul  AFG          Kabol     1780000
1        2        Qandahar  AFG       Qandahar      237500
2        3           Herat  AFG          Herat      186800
3        4  Mazar-e-Sharif  AFG          Balkh      127800
4        5       Amsterdam  NLD  Noord-Holland      731200
...    ...             ...  ...            ...         ...
4074  4075      Khan Yunis  PSE     Khan Yunis      123175
4075  4076          Hebron  PSE         Hebron      119401
4076  4077        Jabaliya  PSE     North Gaza      113901
4077  4078          Nablus  PSE         Nablus      100231
4078  4079           Rafah  PSE          Rafah       92020

[4079 rows x 5 columns]

# Get info about DataFrame

In [3]:
cities_df = pd.read_csv('city.csv', sep = ';')
cities_df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

#### Show more data in preview: `head` and `tail`
Default: 5,
Max: 60

In [4]:
cities_df.head(10)

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200
5   6       Rotterdam         NLD   Zuid-Holland      593321
6   7            Haag         NLD   Zuid-Holland      440900
7   8         Utrecht         NLD        Utrecht      234323
8   9       Eindhoven         NLD  Noord-Brabant      201843
9  10         Tilburg         NLD  Noord-Brabant      193238

In [5]:
cities_df.tail(10)

        ID          Name CountryCode    District  Population
4069  4070   Chitungwiza         ZWE      Harare      274912
4070  4071  Mount Darwin         ZWE      Harare      164362
4071  4072        Mutare         ZWE  Manicaland      131367
4072  4073         Gweru         ZWE    Midlands      128037
4073  4074          Gaza         PSE        Gaza      353632
4074  4075    Khan Yunis         PSE  Khan Yunis      123175
4075  4076        Hebron         PSE      Hebron      119401
4076  4077      Jabaliya         PSE  North Gaza      113901
4077  4078        Nablus         PSE      Nablus      100231
4078  4079         Rafah         PSE       Rafah       92020

In [7]:
len(cities_df)

4079

In [8]:
cities_df.shape

(4079, 5)

In [9]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4079 non-null   int64
 1   Name         4079 non-null   object
 2   CountryCode  4079 non-null   object
 3   District     4075 non-null   object
 4   Population   4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

Select all records with no district

In [10]:
cities_df[cities_df['District'].isna()]

        ID           Name CountryCode District  Population
3284  3285        Taiping         TWN      NaN      165524
3292  3293         Taliao         TWN      NaN      115897
3293  3294       Kueishan         TWN      NaN      112195
3562  3563  Ciudad Losada         VEN      NaN      134501

Get stats for DataFrame

In [11]:
cities_df.describe()

                ID    Population
count  4079.000000  4.079000e+03
mean   2040.000000  3.504682e+05
std    1177.650203  7.237757e+05
min       1.000000  4.200000e+01
25%    1020.500000  1.147890e+05
50%    2040.000000  1.670510e+05
75%    3059.500000  3.106385e+05
max    4079.000000  1.050000e+07

Get unique values

In [18]:
cities_df.CountryCode.unique()

array(['AFG', 'NLD', 'ANT', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA',
       'ATG', 'ARE', 'ARG', 'ARM', 'ABW', 'AUS', 'AZE', 'BHS', 'BHR',
       'BGD', 'BRB', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH',
       'BWA', 'BRA', 'GBR', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'CYM',
       'CHL', 'COK', 'CRI', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV',
       'ERI', 'ESP', 'ZAF', 'ETH', 'FLK', 'FJI', 'PHL', 'FRO', 'GAB',
       'GMB', 'GEO', 'GHA', 'GIB', 'GRD', 'GRL', 'GLP', 'GUM', 'GTM',
       'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'SJM', 'IDN', 'IND',
       'IRQ', 'IRN', 'IRL', 'ISL', 'ISR', 'ITA', 'TMP', 'AUT', 'JAM',
       'JPN', 'YEM', 'JOR', 'CXR', 'YUG', 'KHM', 'CMR', 'CAN', 'CPV',
       'KAZ', 'KEN', 'CAF', 'CHN', 'KGZ', 'KIR', 'COL', 'COM', 'COG',
       'COD', 'CCK', 'PRK', 'KOR', 'GRC', 'HRV', 'CUB', 'KWT', 'CYP',
       'LAO', 'LVA', 'LSO', 'LBN', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX',
       'ESH', 'MAC', 'MDG', 'MKD', 'MWI', 'MDV', 'MYS', 'MLI', 'MLT',
       'MAR', 'MHL', 'MTQ', 'MRT', 'MUS', 'MYT', 'MEX', 'FSM', 'MDA',
       'MCO', 'MNG', 'MSR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NIC',
       'NER', 'NGA', 'NIU', 'NFK', 'NOR', 'CIV', 'OMN', 'PAK', 'PLW',
       'PAN', 'PNG', 'PRY', 'PER', 'PCN', 'MNP', 'PRT', 'PRI', 'POL',
       'GNQ', 'QAT', 'FRA', 'GUF', 'PYF', 'REU', 'ROM', 'RWA', 'SWE',
       'SHN', 'KNA', 'LCA', 'VCT', 'SPM', 'DEU', 'SLB', 'ZMB', 'WSM',
       'SMR', 'STP', 'SAU', 'SEN', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN',
       'SOM', 'LKA', 'SDN', 'FIN', 'SUR', 'SWZ', 'CHE', 'SYR', 'TJK',
       'TWN', 'TZA', 'DNK', 'THA', 'TGO', 'TKL', 'TON', 'TTO', 'TCD',
       'CZE', 'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'HUN',
       'URY', 'NCL', 'NZL', 'UZB', 'BLR', 'WLF', 'VUT', 'VAT', 'VEN',
       'RUS', 'VNM', 'EST', 'USA', 'VIR', 'ZWE', 'PSE'], dtype=object)

In [19]:
cities_df.CountryCode.unique().size

232

In [21]:
cities_df.columns

Index(['ID', 'Name', 'CountryCode', 'District', 'Population'], dtype='object')

Group, sort and calculate values

In [22]:
cities_df.CountryCode.value_counts()

CHN    363
IND    341
USA    274
BRA    250
JPN    248
      ...
GIB      1
GRD      1
PNG      1
PLW      1
LUX      1
Name: CountryCode, Length: 232, dtype: int64

Get the same in %

In [23]:
cities_df.CountryCode.value_counts(normalize=True)

CHN    0.088992
IND    0.083599
USA    0.067173
BRA    0.061290
JPN    0.060799
         ...
GIB    0.000245
GRD    0.000245
PNG    0.000245
PLW    0.000245
LUX    0.000245
Name: CountryCode, Length: 232, dtype: float64

# DataFrame options & settings

In [24]:
pd.get_option('display.max_rows')

60

In [27]:
pd.set_option('display.max_rows', 100)

In [29]:
cities_df.head(100)

     ID                   Name CountryCode          District  Population
0     1                  Kabul         AFG             Kabol     1780000
1     2               Qandahar         AFG          Qandahar      237500
2     3                  Herat         AFG             Herat      186800
3     4         Mazar-e-Sharif         AFG             Balkh      127800
4     5              Amsterdam         NLD     Noord-Holland      731200
5     6              Rotterdam         NLD      Zuid-Holland      593321
6     7                   Haag         NLD      Zuid-Holland      440900
7     8                Utrecht         NLD           Utrecht      234323
8     9              Eindhoven         NLD     Noord-Brabant      201843
9    10                Tilburg         NLD     Noord-Brabant      193238
10   11              Groningen         NLD         Groningen      172701
11   12                  Breda         NLD     Noord-Brabant      160398
12   13              Apeldoorn         NLD        Gelderland      153491
13   14               Nijmegen         NLD        Gelderland      152463
14   15               Enschede         NLD        Overijssel      149544
15   16                Haarlem         NLD     Noord-Holland      148772
16   17                 Almere         NLD         Flevoland      142465
17   18                 Arnhem         NLD        Gelderland      138020
18   19               Zaanstad         NLD     Noord-Holland      135621
19   20       ´s-Hertogenbosch         NLD     Noord-Brabant      129170
20   21             Amersfoort         NLD           Utrecht      126270
21   22             Maastricht         NLD           Limburg      122087
22   23              Dordrecht         NLD      Zuid-Holland      119811
23   24                 Leiden         NLD      Zuid-Holland      117196
24   25         Haarlemmermeer         NLD     Noord-Holland      110722
25   26             Zoetermeer         NLD      Zuid-Holland      110214
26   27                  Emmen         NLD           Drenthe      105853
27   28                 Zwolle         NLD        Overijssel      105819
28   29                    Ede         NLD        Gelderland      101574
29   30                  Delft         NLD      Zuid-Holland       95268
30   31                Heerlen         NLD           Limburg       95052
31   32                Alkmaar         NLD     Noord-Holland       92713
32   33             Willemstad         ANT           Curaçao        2345
33   34                 Tirana         ALB            Tirana      270000
34   35                  Alger         DZA             Alger     2168000
35   36                   Oran         DZA              Oran      609823
36   37            Constantine         DZA       Constantine      443727
37   38                 Annaba         DZA            Annaba      222518
38   39                  Batna         DZA             Batna      183377
39   40                  Sétif         DZA             Sétif      179055
40   41         Sidi Bel Abbès         DZA    Sidi Bel Abbès      153106
41   42                 Skikda         DZA            Skikda      128747
42   43                 Biskra         DZA            Biskra      128281
43   44    Blida (el-Boulaida)         DZA             Blida      127284
44   45                 Béjaïa         DZA            Béjaïa      117162
45   46             Mostaganem         DZA        Mostaganem      115212
46   47                Tébessa         DZA           Tébessa      112007
47   48     Tlemcen (Tilimsen)         DZA           Tlemcen      110242
48   49                 Béchar         DZA            Béchar      107311
49   50                 Tiaret         DZA            Tiaret      100118
50   51  Ech-Chleff (el-Asnam)         DZA             Chlef       96794
51   52               Ghardaïa         DZA          Ghardaïa       89415
52   53                 Tafuna         ASM           Tutuila        5200
53   54               Fagatogo         ASM           Tutuila        2323
54   55       Andorra la Vella         AND  Andorra la Vella       21189
55   56                 Luanda         AGO            Luanda     2022000
56   57                 Huambo         AGO            Huambo      163100
57   58                 Lobito         AGO          Benguela      130000
58   59               Benguela         AGO          Benguela      128300
59   60                 Namibe         AGO            Namibe      118200
60   61             South Hill         AIA                 –         961
61   62             The Valley         AIA                 –         595
62   63           Saint John´s         ATG           St John       24000
63   64                  Dubai         ARE             Dubai      669181
64   65              Abu Dhabi         ARE         Abu Dhabi      398695
65   66                 Sharja         ARE            Sharja      320095
66   67                 al-Ayn         ARE         Abu Dhabi      225970
67   68                  Ajman         ARE             Ajman      114395
68   69           Buenos Aires         ARG  Distrito Federal     2982146
69   70             La Matanza         ARG      Buenos Aires     1266461
70   71                Córdoba         ARG           Córdoba     1157507
71   72                Rosario         ARG          Santa Fé      907718
72   73        Lomas de Zamora         ARG      Buenos Aires      622013
73   74                Quilmes         ARG      Buenos Aires      559249
74   75        Almirante Brown         ARG      Buenos Aires      538918
75   76               La Plata         ARG      Buenos Aires      521936
76   77          Mar del Plata         ARG      Buenos Aires      512880
77   78  San Miguel de Tucumán         ARG           Tucumán      470809
78   79                  Lanús         ARG      Buenos Aires      469735
79   80                  Merlo         ARG      Buenos Aires      463846
80   81     General San Martín         ARG      Buenos Aires      422542
81   82                  Salta         ARG             Salta      367550
82   83                 Moreno         ARG      Buenos Aires      356993
83   84               Santa Fé         ARG          Santa Fé      353063
84   85             Avellaneda         ARG      Buenos Aires      353046
85   86        Tres de Febrero         ARG      Buenos Aires      352311
86   87                  Morón         ARG      Buenos Aires      349246
87   88       Florencio Varela         ARG      Buenos Aires      315432
88   89             San Isidro         ARG      Buenos Aires      306341
89   90                  Tigre         ARG      Buenos Aires      296226
90   91    Malvinas Argentinas         ARG      Buenos Aires      290335
91   92          Vicente López         ARG      Buenos Aires      288341
92   93            Berazategui         ARG      Buenos Aires      276916
93   94             Corrientes         ARG        Corrientes      258103
94   95             San Miguel         ARG      Buenos Aires      248700
95   96           Bahía Blanca         ARG      Buenos Aires      239810
96   97     Esteban Echeverría         ARG      Buenos Aires      235760
97   98            Resistencia         ARG             Chaco      229212
98   99            José C. Paz         ARG      Buenos Aires      221754
99  100                 Paraná         ARG        Entre Rios      207041

In [30]:
pd.get_option('min_rows')

10

In [31]:
pd.set_option('min_rows', 20)

In [32]:
cities_df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
5        6       Rotterdam         NLD   Zuid-Holland      593321
6        7            Haag         NLD   Zuid-Holland      440900
7        8         Utrecht         NLD        Utrecht      234323
8        9       Eindhoven         NLD  Noord-Brabant      201843
9       10         Tilburg         NLD  Noord-Brabant      193238
...    ...             ...         ...            ...         ...
4069  4070     Chitungwiza         ZWE         Harare      274912
4070  4071    Mount Darwin         ZWE         Harare      164362
4071  4072          Mutare         ZWE     Manicaland      131367
4072  4073           Gweru         ZWE       Midlands      128037
4073  4074            Gaza         PSE           Gaza      353632
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

Set default values

In [34]:
pd.reset_option('all')

/tmp/ipykernel_1120/2786130087.py:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_1120/2786130087.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_1120/2786130087.py:1: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

Show more symbols in a column

In [39]:
pd.get_option('max_colwidth')

50

In [41]:
pd.set_option('max_colwidth', 100)

Show less numbers after a comma

In [50]:
pd.get_option('display.precision')

6

In [49]:
pd.set_option('display.precision', 6)

Show more columns

In [58]:
pd.get_option('display.max_columns')

20

In [57]:
pd.set_option('display.max_columns', 30)

Generate dummy data

In [61]:
pd.get_dummies(list(range(11)), prefix='column')

,column_0,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,column_10
0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,0,0,0,1,0
10,0,0,0,0,0,0,0,0,0,0,1