# Constructor

In [1]:
import pandas as pd

Create DF without indexes

In [8]:
df = pd.DataFrame({
    'country': ['France', 'USA', 'Poland'],
    'capital': ['Paris', 'Washington', 'Warsaw'],
    'population': [66.99, 328.2, 32.17]
})
df

  country     capital  population
0  France       Paris       66.99
1     USA  Washington      328.20
2  Poland      Warsaw       32.17

Create DF with indexes

In [9]:
df2 = pd.DataFrame({
    'country': ['France', 'USA', 'Poland'],
    'capital': ['Paris', 'Washington', 'Warsaw'],
    'population': [66.99, 328.2, 32.17]
}, index = ['FR', 'US', 'PL'])
df2

   country     capital  population
FR  France       Paris       66.99
US     USA  Washington      328.20
PL  Poland      Warsaw       32.17

Add indexes for existing DF

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.index = ['FR', 'US', 'PL']

In [13]:
df.index

Index(['FR', 'US', 'PL'], dtype='object')

In [14]:
df

   country     capital  population
FR  France       Paris       66.99
US     USA  Washington      328.20
PL  Poland      Warsaw       32.17

#### Get values from DF

Agruments order: **column / row**

In [15]:
df['capital']['PL']

'Warsaw'

In [17]:
df.capital.US

'Washington'

In [19]:
df.capital[0]

'Paris'

Agruments order: **row / column**

In [22]:
df.at['PL', 'capital']

'Warsaw'

In [23]:
df.iat[1, 1]

'Washington'

In [24]:
df.loc['US']

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [25]:
df.loc['US', 'capital']

'Washington'

In [26]:
df.iloc[1, 1]

'Washington'

Get list of columns

In [27]:
df.columns

Index(['country', 'capital', 'population'], dtype='object')

# Data read

#### Read from TXT file

In [32]:
txt_df = pd.read_csv('test_data.txt', names=['id', 'city', 'population'])
txt_df

   id     city  population
0   1   Warsaw        1.86
1   2   Cracow        0.80
2   3  Wroclaw        0.67

In [37]:
cities_df = pd.read_csv('city.csv',
                     sep = ';',
                     names = ['ID', 'City', 'Code', 'District', 'Population'],
                     header = 0)
cities_df

        ID            City Code       District  Population
0        1           Kabul  AFG          Kabol     1780000
1        2        Qandahar  AFG       Qandahar      237500
2        3           Herat  AFG          Herat      186800
3        4  Mazar-e-Sharif  AFG          Balkh      127800
4        5       Amsterdam  NLD  Noord-Holland      731200
...    ...             ...  ...            ...         ...
4074  4075      Khan Yunis  PSE     Khan Yunis      123175
4075  4076          Hebron  PSE         Hebron      119401
4076  4077        Jabaliya  PSE     North Gaza      113901
4077  4078          Nablus  PSE         Nablus      100231
4078  4079           Rafah  PSE          Rafah       92020

[4079 rows x 5 columns]