# Series. Constructor

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [4]:
ds = pd.Series([1, 2, 3, 4])
ds

0    1
1    2
2    3
3    4
dtype: int64

#### Get values

In [5]:
ds.values

array([1, 2, 3, 4])

#### Get indexes

In [6]:
ds.index

RangeIndex(start=0, stop=4, step=1)

#### Create a seria with own indexes

In [9]:
ds2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ds2

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
ds3 = pd.Series({'a': 1, 'b': 2, 'c': 3})
ds3

a    1
b    2
c    3
dtype: int64

# Series. Work with values

#### There are 2 ways how to get a required element

In [13]:
print(ds2['b'], ds2.d)

2 4

#### Get a specific element

In [14]:
ds2[ ['a', 'd'] ]

a    1
d    4
dtype: int64

#### Change an element

In [15]:
ds2['d'] = 5
ds2

a    1
b    2
c    3
d    5
dtype: int64

#### Get or set new element via `at`

In [19]:
ds2.at['e'] = 7
ds2

a    1
b    2
c    3
d    5
e    7
dtype: int64

#### Change multiple values

In [20]:
ds2 [ ['d', 'e'] ] = [4, 5]
ds2

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### `iat` is used for int keys

In [21]:
ds2.iat[1]

2

#### Sum of series

In [4]:
s1 = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6, 7], index = ['a', 'b', 'c', 'd'])

In [5]:
s1 + s2

a    5.0
b    7.0
c    9.0
d    NaN
dtype: float64

In [6]:
s1.add(s2, fill_value=0)

a    5.0
b    7.0
c    9.0
d    7.0
dtype: float64

# Series. Data filtration

In [8]:
cities = pd.Series(
    {'Krakow': 1000, 'Warsaw': 3000, 'Wroclaw': 900, 'Gdansk': 500},
    index = ['Krakow', 'Warsaw', 'Gdansk', 'Sopot']
)
cities

Krakow    1000.0
Warsaw    3000.0
Gdansk     500.0
Sopot        NaN
dtype: float64

#### Methods `isnull` and `notnull`

In [9]:
cities.isnull()

Krakow    False
Warsaw    False
Gdansk    False
Sopot      True
dtype: bool

In [10]:
cities.notnull()

Krakow     True
Warsaw     True
Gdansk     True
Sopot     False
dtype: bool

In [11]:
cities >= 1000

Krakow     True
Warsaw     True
Gdansk    False
Sopot     False
dtype: bool

In [12]:
cities[cities.isnull()]

Sopot   NaN
dtype: float64

In [13]:
cities[cities.notnull()]

Krakow    1000.0
Warsaw    3000.0
Gdansk     500.0
dtype: float64

In [14]:
cities[cities >= 1000]

Krakow    1000.0
Warsaw    3000.0
dtype: float64

`&` - AND
`|` - OR
`~` - NOT

In [17]:
cities[(cities >= 1000) & (cities <=2000)]

Krakow    1000.0
dtype: float64

#### Loops in Pandas

In [19]:
for index, value in cities.items():
    print(f'Index: {index}, Value: {value}')

Index: Krakow, Value: 1000.0
Index: Warsaw, Value: 3000.0
Index: Gdansk, Value: 500.0
Index: Sopot, Value: nan